<!DOCTYPE html>
<html>
    <head>
        <title>Project Template</title>
    </head>
    <body>
        <h3>
            <a href = "/index.html">Home</a>
            |
            <a href = "/blogs_page.html"> Blogs</a>
            |
            <a href = "/guides_page.html"> Guides</a>
            |
            <a href = "/projects_page.html"> Projects</a>
            |
            Archives
            <!--Create a drop down to choose which archive library
            Blogs or Guides or Libraries-->
            </h3>
        <h1>Project_Template</h1>
        <h1>TEMPLATE UNDER CONSTRUCTION</h1>        
    </body>
</html>